section {
  flex-direction: column;
  width: 900px;
  line-height: 2;
}
main .template {
  width: 100%;
}
main > div {
  margin: auto;
  width: 1200px;
  display: flex;
  gap: 50px;
}

.submitbtn {
  padding: 10px 20px;
}
main h2 {
  margin-bottom: 0;
}
main h3 {
  margin-top: 10px;
}
